<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentfunctionapp20220919120647.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d33a8818-2df1-4931-9735-63fac06369be/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/PaymentFunctionApp20220919120647</ResourceId>
    <UserName>$PaymentFunctionApp20220919120647</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://paymentfunctionapp20220919120647.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>